<div class="container">
  <div class="wrapper">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
      <h3 class="form-signin-heading">Please Sign In</h3>
      <hr class="colorgraph"><br>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end -%>

      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
      <br>
      <%= render "users/shared/links" %>
    <% end %>
  </div>
</div>
